# Python cache
*.pyc
__pycache__/

db.sqlite3
pyconcz_2017/settings/local.py

# Migration file
pyconcz

# Node packages, tmp files
node_modules/
npm-debug.log
tmp/

# Virtualenv
env/

# Pycharm
.idea/