{% extends "_base.html" %}

{% load formatting %}


{% block content %}
  <main class="pc_container" role="main">

    <div>
        <p>
            <strong>Registration</strong>
                Thursday and Friday, 8th and 9th June, 9am&ndash;10am.
        </p>
        <p>
            <strong>Talks</strong>
            Thursday and Friday, 8th and 9th June, 10am&ndash;6pm.
        </p>
        <p>
            <strong>Afterparty</strong>
            Friday, 9th June, 6pm&ndash;morning, on site at <a href="http://www.meetfactory.cz/en/">MeetFactory</a>.
        </p>
        <p>
            <strong>Sprints and Workshops</strong>
            Saturday, 10th June, 10am&ndash;4pm at <a href="https://fit.cvut.cz/en">FIT CTU</a>.
        </p>
    </div>

    <div class="nav nav--programme">
      {% include '_menu_programme.html' %}
    </div>

    <h1>{% block speakers_title %}{% endblock %}</h1>

    <section class="pc_speakers">
      {% for speaker in speakers %}
        <section class="pc_speaker" id="{{ speaker.full_name|slugify }}">

          <div class="pc_speaker__photo" style="background-image: url({{ speaker.photo.url }});"></div>

          <h2 class="pc_speaker__name">{{ speaker.full_name }}</h2>

          {% block speakers_items %}{% endblock %}

        </section>
      {% endfor %}
    </section>
  </main>
{% endblock %}
