{% extends "speakers/base_list.html" %}
{% load formatting %}


{% block meta_title %}PyCon CZ Workshops{% endblock %}


{% block speakers_title %}Workshops<br><small><a href="#tickets">get tickets</a></small> {% endblock %}


{% block meta_head %}
  {{ block.super }}
  <!-- place this in your head tag -->
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1'>
  <script src='https://js.tito.io/v1' async></script>
{% endblock %}

{% block speakers_items %}
  {% for workshop in speaker.workshops.all %}
    <h3 class="pc_talk__title">
      <a href="{% url 'talk_detail' type='workshop' talk_id=workshop.id %}#main">
        {{ workshop.title }}
      </a>
    </h3>
  {% endfor %}
{% endblock %}
