Our {{ sponsors.0.get_level_display }} sponsors:

<p>
{% for sponsor in sponsors %}
        <div class="sponsor sponsor--level-{{ level.grouper|lower }}">
          <img class="sponsor__logo" src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">

          <h3 class="sponsor__title">{{ sponsor.name }}</h3>
          <a class="sponsor__link" href="{{ sponsor.link_url }}">
            {{ sponsor.link_url }}
          </a>

          <p class="sponsor__description">
            {{ sponsor.description }}
          </p>
        </div>
{% endfor %}
</p>
