.pc_schedule {

  &__under-construction {
    color: $color-accent;
    font-weight: bold;
    text-align: center;
  }

  &__list {

    &--temporary {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__day {
    flex: 0 1 100%;

    @media screen and (min-width: 30em) {
      flex: 0 1 calc(50% - 2em);
      margin-left: 1em;
      margin-right: 1em;
    }
    
    @media screen and (min-width: 48em) {
      flex: 0 1 calc(100% / 3 - 2em);
    }

  }

  &__date {
    line-height: 1.3;

    @media screen and (min-width: 768px) {
      margin-top: 1em;
    }

    br {
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
  }

  &__place {
    font-weight: bold;
    text-align: center;
    font-size: $font-big;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 1.2;

    a { text-decoration: underline; }

  }

  &__item {
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    line-height: 1.3;
  }

  &__time {
    font-family: $secondary-font;
    font-weight: normal;
    display: block;
  }
}
