{% extends "_base.html" %}
{% load static sponsors_tags menu_tags %}

{% block meta_title %}PyCon CZ 2017{% endblock %}

{% block meta_head %}
  {{ block.super }}
  <!-- place this in your head tag -->
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
  <script src='https://js.tito.io/v1' async></script>
{% endblock %}

{% block body %}
<div class="homepage">
  <div class="nav-fixed --half">
    <div class="container">
      <nav class="nav">
        {% show_menu %}
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="main-column-1">
      <a href="https://cz.pycon.org/2017/"><div class="logo-lg"></div></a>
    </div>
    <div class="main-column-2">
      <h1 class="header-title">PyCon CZ 2017 Prague<br>9-11 June</h1>
      <nav class="nav-main">
        <ul>
			<!--<li><a href="#tickets">Tickets</a></li>-->
          <li><a href="/2017/about">About</a></li>
          <li><a href="/2017/about/team">Team</a></li>
          <li><a href="/2017/proposals/talks">Call for Papers</a></li>
		  <li><a href="{% url "proposal_about" key="financial-aid"%}">Financial Aid</a></li>
          <!--<li><a href="{% url "sponsors_offer"%}">Sponsorship</a></li>-->
          <li><a href="/2017/about/code">Code of Conduct</a></li>
        </ul>
      </nav>
    </div>

    <div class="homepage-claim">
        <strong>PyCon CZ</strong> aims to be the largest annual gathering for the <strong>Python community</strong>
        in the <strong>Czech Republic</strong>.<br>
        It's focused on honoring and supporting <strong>awesome people</strong>
        teaching, learning and innovating with Python in Czech Republic
        and <strong>surrounding EU</strong>.
    </div>


    <div class="homepage-basic">
      <div class="homepage-column">
		&nbsp;
      </div>

      <div class="homepage-column" style="position: relative; left: 70px;">
        <h3>
          <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
          Venue
          <small class="homepage-day-date">
            <a href="https://goo.gl/maps/u1YMcUW8zmF2">Map</a>
          </small>
        </h3>

        <div class="homepage-day-venue">
          <address>
            <strong>DUP36</strong><br />
			Charvátova 10<br />
			Praha - Nové Město
          </address>
        </div>
      </div>

	</div>
  <!--
    <div class="homepage-basic">
      <div class="homepage-column">
        <h3>
          <i class="fa fa-3x fa-map-marker" aria-hidden="true"></i>
          Venue
          <small class="homepage-day-date">
            <a href="https://goo.gl/maps/m2BhaURP3572">Map</a>
          </small>
        </h3>

        <div class="homepage-day-venue">
          <address>
            <strong>Faculty of informatics</strong><br />
            Brno University of Technology<br />
            Božetěchova 1/2, Brno<br />
          </address>
        </div>
      </div>

      <div class="homepage-column">
        <h3>
          <i class="fa fa-3x fa-commenting-o" aria-hidden="true"></i>
          Talks
          <small class="homepage-day-date">28-29 October</small>
        </h3>
        <p class="homepage-day-venue">
          <strong>Two days</strong>, <strong>three</strong> parallel tracks,
          <strong>four</strong> keynotes and <strong>30+</strong> awesome talks.
        </p>
      </div>

      <div class="homepage-column">
        <h3>
          <i class="fa fa-3x fa-cogs" aria-hidden="true"></i>
          Sprints &amp; workshops
          <small class="homepage-day-date">30 October</small>
        </h3>
        <p class="homepage-day-venue">
          <strong>Six</strong> workshops in two blocks and sprinting <strong>all day
          long</strong>. Hack on open-source projects together with other Python
          community members.
        </p>
      </div>
    </div>
  -->

    <!--
    <div class="keynoters">
      <h1 class="text-center">Keynote speakers</h1>

      {% for keynoter in keynoters %}
        <div class="keynoter">
          <img src="{{ keynoter.photo.url }}" alt="{{ keynoter.full_name }}" />
          <h4>{{ keynoter.full_name }}</h4>
          <a href="http://twitter.com/{{ keynoter.twitter }}">@{{ keynoter.twitter }}</a>
          <p class="bio">
            {{ keynoter.bio }}
          </p>
        </div>
      {% endfor %}
    </div>
    -->

    <!-- Place this where you want the widget to appear -->
    <!--
    <a name="tickets"></a>
    <h1 class="text-center">Tickets are available!</h1>
    <tito-widget event="pyvec/pycon-cz-2017"></tito-widget>
    -->


    <div class="homepage-social">
      <!--
      <div class="teaser-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/venjk_cL-Gk?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      -->

      <!--
      <h2 class="text-center">Our partners</h2>

      {% sponsors %}
      -->

      <h2 class="text-center">What attendees said about PyCon CZ 2016?</h2>

      <div class="tweets">
        <blockquote class="twitter-tweet" data-lang="cs"><p lang="cs" dir="ltr"><a href="https://twitter.com/hashtag/pyconcz?src=hash">#pyconcz</a> skoncil 😔 super ukoncenie datovymi workshopmi...obdivujem ludi co tu cely cas az… <a href="https://t.co/M7zOwAhiSp">https://t.co/M7zOwAhiSp</a></p>&mdash; Sveta Margetova (@Mandragora258) <a href="https://twitter.com/Mandragora258/status/792776593299079168">30th october 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="cs"><p lang="en" dir="ltr">.<a href="https://twitter.com/pyconcz">@pyconcz</a> thank you for great event. You did amazing job. <a href="https://twitter.com/hashtag/PyConCZ?src=hash">#PyConCZ</a> <a href="https://twitter.com/hashtag/Brno?src=hash">#Brno</a></p>&mdash; SPy - Slovak Python (@pyconsk) <a href="https://twitter.com/pyconsk/status/792755641425203201">30th october 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="cs"><p lang="en" dir="ltr">Nice to be here on <a href="https://twitter.com/hashtag/PyConCZ?src=hash">#PyConCZ</a> but it&#39;s time to go home. See you next year! :)</p>&mdash; Goran Vrbaški (@goranvrbaski) <a href="https://twitter.com/goranvrbaski/status/792695685137231872">30th october 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="cs"><p lang="en" dir="ltr">Huge thanks to <a href="https://twitter.com/pyconcz">@pyconcz</a> organizers for giving me a chance to give my first talk ever! <a href="https://twitter.com/hashtag/PyConCZ?src=hash">#PyConCZ</a></p>&mdash; Josef Rousek (@josefrousek) <a href="https://twitter.com/josefrousek/status/792619642338611200">30th october 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="cs"><p lang="en" dir="ltr">Cool talk about using <a href="https://twitter.com/hashtag/python?src=hash">#python</a> in <a href="https://twitter.com/hashtag/cern?src=hash">#cern</a> by <a href="https://twitter.com/jschovan">@jschovan</a> -- the video simulations are great! <a href="https://twitter.com/hashtag/pyconcz?src=hash">#pyconcz</a></p>&mdash; Valdemar Švábenský (@svabenskyv) <a href="https://twitter.com/svabenskyv/status/792352353450090497">29th october 2016</a></blockquote>

        <blockquote class="twitter-tweet" data-lang="cs"><p lang="en" dir="ltr">Three programmers playing ukulele for hundreds of people. Only <a href="https://twitter.com/hashtag/pyconcz?src=hash">#pyconcz</a></p>&mdash; Mikuláš Poul (@miki_cz) <a href="https://twitter.com/miki_cz/status/792025420619218944">28th october 2016</a></blockquote>
      </div>

    </div>
  </div>
</div>
{% endblock %}
