.homepage {
  .logo-lg {
    display: block;
    width: 612px;
    height: 284px;

    @media (max-width: 1200px) {
      width: (612px/1.5);
      height: (284px/1.5);
      margin: 15px auto;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }

    svg {
      width: 100%;
      height: 100%;

      @media (max-width: 768px) {
        max-height: (284px/1.5);
      }
    }
  }

  .twitter-tweet {
    float: left;
    margin: 2em;

    @media (max-width: 1200px) {
      float: none;
      margin: auto;
    }
  }
}

.homepage-row,
.homepage-claim {
  @include clearfix;
}

.homepage-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
}

.homepage-claim {
  margin-top: vr(2);
  margin-bottom: vr(1);
  font-weight: normal;
  font-family: $secondary-font;
  text-align: center;
  line-height: 1.4rem;
}

.homepage-column {
  margin-left: 0.5em;
  margin-right: 0.5em;
  flex: 1;
  text-align: center;
  min-width: 11em;
}

.homepage-column {

  address {
    font-style: normal;
  }

  .fa {
    display: block;
    margin-bottom: 15px;
    color: $color-main;
  }

  @media (max-width: 992px) {
    .homepage-day-venue {
      margin: auto;
    }
  }

  .homepage-day-date {
    display: block;
    margin-top: 0.4em;
  }
}

.nav-main {
  display: table;
  margin: auto;

  ul {
    padding-left: 0;

    li {
      list-style: none;
      width: 215px;
      text-align: center;

      a {
        font-family: $secondary-font;
        display: block;
        padding: 10px;
        margin: 15px 0;
        transition: font-weight 0.3s;

        &:hover {
          text-decoration: none;
          font-weight: 700;
        }

        &:before {
          content: " ";
          position: absolute;
          display: block;
          width: 215px;
          height: 40px;
          margin-top: -7px;
          margin-left: -10px;
          border: solid 1px black;
          transition: transform 0.3s;
        }
        &:hover:before {
          transform: skew(30deg, 0deg);
        }
      }
    }
  }
}

.flex-row {
  display: block;

  @media (min-width: 1200px) {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.main-column-1,
.main-column-2 {
}

.teaser-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 4em 0.5em;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tweets {
  @include clearfix;
}

.keynoters {
  vertical-align: top;
  display: block;

  .keynoter {
    display: inline-block;
    max-width: 49%;
    text-align: center;
    vertical-align: top;
    padding: 0 15px;

    @media (max-width: $container-lg) {
      max-width: 100%;
      text-align: left;
      margin: 20px auto;
    }
    @media (max-width: $container-sm) {
      text-align: center;
    }

    img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      filter: gray; /* IE6-9 */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

      @media (max-width: $container-lg) {
        float: left;
        display: inline-block;
        margin-right: 20px;
      }
      @media (max-width: $container-sm) {
        float: none;
        margin: 0;
      }
    }

    .bio {
      text-align: justify;

      &:nth-child(3n + 1) {
        margin-top: 48px;
      }

      &:nth-child(3n + 3) {
        margin-top: 96px;
      }

      @media (max-width: $container-lg) {
        display: inline;
      }

      @media (max-width: $container-sm) {
        &.p {
          display: block;
          margin-top: auto;
        }
      }

    }
  }

  h4 {
    @media (max-width: $container-sm) {
      margin-top: 15px;
    }
  }
}

.announcement {
  border: solid 1px $color-light;
  padding: 20px 20px 20px 25px;
  border-radius: 6px;

  .announcement__date {
    font-family: "Roboto Mono", sans-serif;
    color: $color-muted;
  }
}

.tito-wrapper {
  &,
  button {
    font-family: $main-font !important;
  }

  .tito-ticket-name,
  .tito-ticket-price-quantity-wrapper,
  input {
    font-family: $secondary-font !important;
  }

  .tito-ticket-description {
    color: #555;
  }

  .tito-submit {
    background-color: $color-main !important;
    color: $color-light !important;
    border-color: $color-main !important;

    &:hover {
      background-color: darken($color-main, 10%) !important;
    }
  }
}
